<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="HearthStone" xmlns="http://ibatis.apache.org/mapping" xmlns:xls="http://www.w3.org/2001/XMLSchema-instance">
  <alias>
    <typeAlias alias="HS_Card" type="HS_Model.HS_Card"/>
  </alias>
  <!--http://hnylj.iteye.com/blog/363066-->
  <!--相关知识介绍-->
  <!--<cacheModel id="user-cache" type ="LRU" readOnly="true" serialize="false">
    <flushInterval hours="24"/>
    <flushOnExecute statement="updateOne"/>
    <property value="500" name="size"/>
  </cacheModel>-->
  <parameterMaps>
    
  </parameterMaps>
  <resultMaps>
    <resultMap id="resultMap_Card" Class="HS_Card">
      <result property="Id" column="Id" />
      <result property="Name" column="Name" />
      <result property="EnName" column="EnName" />
      <result property="Type" column="Type" />
      <result property="Occupation" column="Occupation" />
      <result property="Rarity" column="Rarity" />
      <result property="Cost" column="Cost" />
      <result property="Atk" column="Atk" />
      <result property="Health" column="Health"/>
      <result property="Kind" column="Kind" />
      <result property="Set" column="Set" />
      <result property="Description" column="Description" />
      <result property="Dust_Decompose" column="Dust_Decompose" />
      <result property="Dust_Decompose_Golden" column="Dust_Decompose_Golden" />
      <result property="Dust_Synthesis" column="Dust_Synthesis" />
      <result property="Dust_Synthesis_Golden" column="Dust_Synthesis_Golden" />
      <result property="Taunt" column="Taunt" />
      <result property="Freeze" column="Freeze" />
      <result property="Windfury" column="Windfury" />
      <result property="Battlecry" column="Battlecry" />
      <result property="stealth" column="stealth" />
      <result property="combo" column="combo" />
      <result property="aura" column="aura" />
      <result property="charge" column="charge" />
      <result property="grant_charge" column="grant_charge" />
      <result property="spellpower" column="spellpower" />
      <result property="enrage" column="enrage" />
      <result property="divine_shield" column="divine_shield" />
      <result property="deathrattle" column="deathrattle" />
      <result property="secret" column="secret" />
      <result property="inspire" column="inspire" />
      <result property="mission" column="mission" />
    </resultMap>
  </resultMaps>
  <statements>
    <select id="SelectAllCard" resultClass="System.Int32">
      <![CDATA[SELECT * FROM [LIANXI].[DBO].[HS_Card]]]>
    </select>
 
    <select id="SelectOccupationCardCount" resultClass="System.Data.DataTable">
      <![CDATA[SELECT OCCUPATION ,COUNT(1) AS CARDCOUNT FROM [DBO].[HS_CARD] WHERE OCCUPATION = #OCCUPATION#]]>
    </select>
    
    <select id="SelectOccupationCard" parameterClass="System.String" resultMap="resultMap_CrawlerData">
      <![CDATA[SELECT * FROM [LIANXI].[DBO].[HS_Card] WHERE OCCUPATION = #OCCUPATION#]]>
    </select>
    
    
    <select id="SelectDailyData" parameterClass="System.Int32"  resultMap="resultMap_CrawlerData">
      <![CDATA[SELECT TOP 1000 Depth,Url,FromUrl,Status,OuterHtml,ContentLength FROM [LIANXI].[DBO].[HS_CrawlerData] WHERE OUTERHTML IS NULL ]]>
    </select>
    <update id="UpdateByUrl" parameterClass="System.Collections.Hashtable"  resultClass="System.Int32" >
      <![CDATA[update [LIANXI].[DBO].[HS_CrawlerData] set OUTERHTML = #outerHtml#,STATUS = 200 where URL = #url#]]>
    </update>-->
  </statements>
</sqlMap>