<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <properties resource="properties.config"/>
  <settings>
    <setting useStatementNamespaces="true"/>
  </settings>
  <!--properties节点通常用于引入在外部定义一些键值对配置文件，以方便在后面统一调用，这样修改的时候，只修改就可以了-->


  <!--
      cacheModelsEnabled :默认true,是否启用缓存。
      validateSqlMap:默认false,使用启用SqlMapConfig.xsd来验证映射XML文件。
      useReflectionOptimizer:默认true,是否使用反射机制访问C#中对象的属性。
      useEmbedStatementParams 是否使用嵌入的方式声明可变参数
    -->

  <providers resource="providers.config"/>
  <database>
    <provider name="sqlServer2008"/>
    <dataSource name="sqlServer555" connectionString="Data Source=${host};Initial Catalog=${database};User ID=${user_id};Password=${password};"/>
  </database>

  <sqlMaps>
    <sqlMap resource="IBatis.config" />
  </sqlMaps>
</sqlMapConfig>